<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Flow Fund database - administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css">




</head>

<body bgcolor="#CCCCCC">
<table width="700" height="400" border="1" align="center" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">
<table width="100%" border="0" cellpadding="3" bgcolor="#336633">
        <tr> 
          <td width="87%" valign="top" class="head"><div align="center"> 
              <p class="header">Flow Fund Database - administration</p>
            </div></td>
        </tr>
        <tr> 
          <td width="87%" class="paragraph"><div align="center">
              <p class="header2">Change password</p>
            </div></td>
        </tr>
      </table>
      <p align="center" class="head">&nbsp;</p>
      <p align="center" class="loginError">{{$error_message}}</p>
      <p class="head">&nbsp;</p>
      <p class="head">&nbsp;</p>
      <form name="form1" method="post" action="update_password.php">
        <table width="236" border="1" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="232"><table width="232" border="0" align="center" cellpadding="2" cellspacing="2">
                <tr> 
                  <td width="85" class="formText">Username</td>
                  <td width="195" class="formText">{{$username}}</td>
                </tr>
                <tr>
                  <td nowrap class="formText">Old password</td>
                  <td><input name="password0" type="password" class="form" id="password0"></td>
                </tr>
                <tr> 
                  <td nowrap class="formText">New password</td>
                  <td><input name="password1" type="password" class="form" id="password1"></td>
                </tr>
                <tr> 
                  <td class="formText">Confirm</td>
                  <td><input name="password2" type="password" class="form" id="password2"></td>
                </tr>
                <tr> 
                  <td class="formText">&nbsp;</td>
                  <td><input name="Submit" type="submit" class="form" value="Submit"></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <p>&nbsp;</p></form>
    </td>
  </tr>
</table>
</body>
</html>
