<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Flow Fund database - administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#CCCCCC">
<table width="800" height="600" border="1" align="center" bgcolor="#FFFFFF">
  <tr> 
    <td valign="top"> <table width="100%" border="0" cellpadding="3" bgcolor="#336633">
        <tr> 
          <td width="87%" valign="top" class="head"><div align="center"> 
              <p class="header">Flow Fund Database - administration</p>
            </div></td>
        </tr>
        <tr> 
          <td width="87%" class="paragraph"><div align="center"> 
              <p class="header2">{{$date}}</p>
            </div></td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr> 
          <td width="33%">&nbsp;</td>
          <td width="46%">&nbsp;</td>
          <td width="21%"><p align="center" class="inserttitle"><a href="change_password.php">user: 
              {{$user}}</a><br>
              <a href="change_password.php">change password</a>| <a href="logout.php">logout</a> 
            </p></td>
        </tr>
      </table>
      <div align="right" class="nav"> 
        <p align="left" class="paragraph">Delete ffch {{$id}}</p>
      </div>
      <p class="head">&nbsp;</p>
      <p class="paragraph">Are you sure you want to permanently remove the ffch 
        name <strong>{{$ffch_name}}</strong>?</p>
      <table width="221" border="0" cellpadding="5">
        <tr>
          <td width="112"><form name="form1" method="post" action="delete_ffch.php">
              <input name="Submit" type="submit" class="formConfirm" value="Yes">
              <input name="id" type="hidden" id="id" value="{{$id}}">
            </form></td>
          <td width="134"><form name="form2" method="post" action="view_ffch.php">
              <input name="Submit2" type="submit" class="formConfirmNo" value="No">
            </form></td>
          <td width="4">&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr> 
          <td width="83%">&nbsp; </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
</body>
</html>
