<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Flow Fund database - administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css">




</head>

<body bgcolor="#CCCCCC">
<table width="800" height="600" border="1" align="center" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"> 
      <table width="100%" border="0" cellpadding="3" bgcolor="#336633">
        <tr> 
          <td width="87%" valign="top" class="head"><div align="center"> 
              <p class="header">Flow Fund Database - administration</p>
            </div></td>
        </tr>
        <tr> 
          <td width="87%" class="paragraph"><div align="center"> 
              <p class="header2">{{$date}}</p>
            </div></td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr> 
          <td width="33%">&nbsp;</td>
          <td width="46%">&nbsp;</td>
          <td width="21%"><p align="center" class="inserttitle"><a href="change_password.php">user: 
              {{$user}}</a><br>
              <a href="change_password.php">change password</a>| <a href="logout.php">logout</a> 
            </p>
            </td>
        </tr>
      </table>
      <div align="right" class="nav">
        <p align="left" class="paragraph">Editing record {{$id}}</p>
        <form name="form1" method="post" action="update_project.php">
          <table width="80%" border="0" align="center" cellspacing="5">
            <tr> 
              <td width="20%" class="formText">FFCH</td>
              <td width="80%">{{$ffch_list}}</td>
            </tr>
            <tr> 
              <td class="formText">Display FFCH</td>
              <td> <input name="display_ffch" type="checkbox" class="form" id="display_ffch" value="1" {{$display_ffch}} /></td>
            </tr>            
            <tr> 
              <td class="formText">Project name</td>
              <td> <input name="project_name" type="text" class="form" id="project_name" value="{{$project_name}}" size="50"></td>
            </tr>
            <tr> 
              <td class="formText">country 1</td>
              <td>{{$country1_list}}</td>
            </tr>
            <tr> 
              <td class="formText">country 2</td>
              <td>{{$country2_list}}</td>
            </tr>
            <tr>
              <td class="formText">country 3</td>
              <td>{{$country3_list}}</td>
            </tr>
            <tr> 
              <td class="formText">Project location</td>
              <td> 
                <p> 
                  <input name="project_location" type="text" class="form" id="project_location" value="{{$project_location}}" size="50">
                </p>
              </td>
            </tr>
            <tr> 
              <td class="formText">Project description</td>
              <td> <textarea name="project_description" cols="50" rows="10" class="form" id="project_description">{{$project_description}}</textarea></td>
            </tr>
            <tr> 
              <td class="formText">Image File Name</td>
              <td> <input name="image_file_name" type="text" class="form" id="image_file_name" value="{{$image_file_name}}" size="50"></td>
            </tr>
            <tr> 
              <td class="formText">YouTube Code</td>
              <td> <input name="youtube_code" type="text" class="form" id="youtube_code" value="{{$youtube_code}}" size="20"></td>
            </tr>
            <tr> 
              <td class="formText">Website</td>
              <td> <input name="website" type="text" class="form" id="website" value="{{$website}}" size="50"></td>
            </tr>
            <tr> 
              <td class="formText">Flow Funder Name</td>
              <td>{{$funder_name_list}}</td>
            </tr>
            <tr> 
              <td class="formText">Display Flow Funder</td>
              <td> <input name="display_funder" type="checkbox" class="form" id="display_funder" value="1" {{$display_funder}} /></td>
            </tr> 
            <tr> 
              <td class="formText">Notes</td>
              <td> <textarea name="notes" cols="50" rows="10" class="form" id="notes">{{$notes}}</textarea></td>
            </tr>
            <tr> 
              <td class="formText">Gift amount</td>
              <td> <span class="formText">$</span> <input name="gift_amount" type="text" class="form" id="gift_amount" value="{{$gift_amount}}"></td>
            </tr>
            <tr> 
              <td class="formText">Year Funded</td>
              <td> <input name="year_funded" type="text" class="form" id="year_funded" value="{{$year_funded}}" size="6"></td>
            </tr>
            <tr> 
              <td height="16" class="formText">Category</td>
              <td>&nbsp;</td>
            </tr>
            <tr> 
              <td height="16" colspan="2" class="formText">{{$org_types}}</td>
            </tr>
            <tr> 
              <td height="16" class="formText"><input name="Submit" type="submit" class="form" value="Update"> 
                <input name="id" type="hidden" id="id" value="{{$id}}"></td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <p class="paragraph">&nbsp;</p>
        </form>
        <p class="paragraph"><a href="view_projects.php">Return to list</a> without 
          saving changes</p>
      </div></td>
  </tr>
</table>
</body>
</html>
